:root {
  // Main colours
  --tq-white: #fff;
  --tq-red: #f1424f;
  --tq-green: #00944a;
  --tq-blue: #005483;
  --tq-white-transparent: #ffffff4d;
  --tq-red-transparent: #f1424e80;
  --tq-green-transparent: #00944a80;

  // Weahter types colours
  --tq-clear: #158774; // Green
  --tq-thunderstorm: #155b87; // Blue-Dark
  --tq-drizzle: #97d1f4; // Blue-light
  --tq-rain: #2d92d1; // Blue
  --tq-snow: #caf0f8; // White
  --tq-clouds: #93c3cb; // Grey-Light
  --tq-others: #dda15e; // Brown-light
}
