.b-slide-main {
  position: relative;
  display: flex;
  align-items: center;

  .slide-main-content {
    width: 100%;
  }

  .slide-main-questions {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
}
