.b-background-image {
  position: absolute;
  display: flex;
  width: 100%;
  // height: 100%;
  height: auto;
  // top: 0;
  right: 0;
  bottom: 0;

  .background-image-solid {
    width: 100%;
    height: 100%;
    background-color: var(--tq-red-transparent);
  }

  .main-windmills {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .main-windmill {
    position: absolute;
    width: 6%;
    animation: rotate 5s linear infinite;

    &.windmill-1 {
      right: 14.5%;
      bottom: 40%;
    }

    &.windmill-2 {
      right: 20.3%;
      bottom: 44.2%;
    }

    &.windmill-3 {
      right: 24%;
      bottom: 36%;
    }

    &.windmill-4 {
      right: 31.6%;
      bottom: 44.4%;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(1deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
