.b-background {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: var(--tq-others);
  transition: all 1s ease;

  &.is-weather-clear {
    background-color: var(--tq-clear);
  }

  &.is-weather-thunderstorm {
    background-color: var(--tq-thunderstorm);
  }

  &.is-weather-drizzle {
    background-color: var(--tq-drizzle);
  }

  &.is-weather-rain {
    background-color: var(--tq-rain);
  }

  &.is-weather-snow {
    background-color: var(--tq-snow);
  }

  &.is-weather-clouds {
    background-color: var(--tq-clouds);
  }

  &.is-weather-red {
    background-color: var(--tq-red);
  }

  &.is-weather-green {
    background-color: var(--tq-green-transparent);
  }

  &.is-weather-blue {
    background-color: var(--tq-blue);
  }

  .background-game {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;

    .game-image {
      height: 100%;
      animation: moveGameBG 100s linear infinite forwards;
    }
  }
}

@keyframes moveGameBG {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
