.b-tq-button {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 1.4rem;
  font-size: 1.8rem;
  color: var(--tq-white);
  background-color: var(--tq-red);
  transition: all 0.5s ease-out;

  &.is-wide {
    width: 100%;
    border-radius: 1rem;
  }

  &.is-short {
    height: 4rem;
    font-size: 1.6rem;
  }

  &.is-medium {
    height: 5rem;
  }

  &.is-white {
    background-color: var(--tq-white-transparent);
  }

  &.is-red {
    background-color: var(--tq-red);

    &:disabled {
      cursor: not-allowed;
      background-color: var(--tq-red-transparent);
    }
  }

  &.is-green {
    background-color: var(--tq-green);
  }

  &:active {
    opacity: 0.7;
  }
}
